<button (click)="toggleBooks()">
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
    <ng-container *ngIf="isShowing">Show Books</ng-container>
    </button>


<ul *ngIf="isShowing">
    <ng-container *ngFor="let oneBook of books; let i=index ">
<app-book [book] ="oneBook"></app-book>
</ng-container>
</ul>

<button (click)="goToCart()">go to cart</button>
 <!-- <button (click)="handleClick()"  [disabled]="isDisabled">show books</button> -->

 <!-- <input type="text" [(ngModel)]="myName"> -->

 <!-- <button (click)="toggleBooks()">
<span *ngIf="!isShowing">Show Books</span>
<span *ngIf="isShowing">Hide books</span>
</button> -->

 <p>{{myName}}</p>